*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
  }
nav{
    background-color: #F6D5FF; 
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 0 10px #808080;
    position: sticky;
    z-index: 10;

}
.flex-div{
    display: flex;
    align-items: center;
}
.nav-left{
   margin: 10px 2%;

}
.nav-brand{
    height: 70px;
}
.notification{
    width: 60px;
}
.bell-icon{
    width: 40px;
}
.menu-icon{
    width: 60px;
    margin-right: 4%;
}
.shopping-icon{
    width: 40px;
    margin: 10px 20px;
}
.search-icon{
    width: 20px;
}
.mic-icon{
    width: 50px;
    margin-top: 10px;
   
}
.nav-middel .search-box{
    border: 1px solid rgb(155, 145, 145);
    margin-right: 15px;
    padding: 10px 12px;
    margin-top: 10px;
    border-radius: 25px;
    /* height: 30px; */
}
.nav-middel .search-box .inbox-search{
    border: 0;
    background-color: transparent;
    width: 400px;
    height: 16px;
    margin-bottom: 20px;

}
.nav-middel .search-box .inbox-search{
   margin-bottom: 4px;
}
.nav-right{
    margin-top: 10px;
}
.section-1{
    
   justify-content: space-between;
    
}
.section-1-img{
    height: 130px;
}
.card-img{
     box-shadow: 0 0 10px #808080;
}
/* .section-text{
    margin-right: 20px;
   
} */
.card-img-top{
    height: 200px;
    width: 200px;
}
.card{
    align-items: center;
    border: 0;
    border:15px solid #fafafa;
    background-color: #FFCCEE;
    padding-top: 10px;
   
}
.card-group{
    border-radius: 50px;
}
.container-section3{display: none;}

/* ........sidebar>>>>>> */
.sidebar{
background-color: rgb(189, 206, 40);
width: 15%;
height: 100vh;
position: fixed;
top: 0;
padding-left: 2%;
padding-top: 100px;


}
.shortcut-links a img{
    width: 30px;
    margin-right: 20px;
}
.shortcut-links a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: fit-content;
    flex-wrap: wrap;
}
.shortcut-links a p{
    color: #574d4d;
    font-size: 20px;
  

}
a:link{
    text-decoration: none;
}
/* .shortcut-links.new-child{
    color: #f0f0f0;
} */
.section-4-img{
    border-radius: 10px;
    margin-top: 20px;
    
   
}
.section4-container{
    margin-top: 4%;
}
.section-row
{
    height: 350px;
    /* background-color: yellow; */
}
.sectio-4-line{
    height: 1px;
    margin-bottom: 10px;
    
}

@media (max-width:900px){
    .bell-icon{
       display:none;
    }
    .shopping-icon{
       display: none;
    }
    .nav-middel .search-box .inbox-search{
        width: 100px;
        height: 20px;
       
       
    
    }
    .mic-icon{
        
       display: none;
    }
    .section-1{
        display: none;
        
    }
    .container-section3{
        display: block;
    }
    .section4-container{
        display: none;
    }
}
